.div{
    display:flex ;
    background-color: rgb(176, 204, 245);
    width: 50em;
    height: 43em;
    margin: 3em auto 0 auto;
    border: 0.6em dotted rgb(156, 6, 6) ;
    border-radius:  3em;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
}
.div2{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

form{
    margin: 2em auto 2em auto;
}
.img{
    
    background-image: url("halo.jpg");
}
.img2{
    
  
    background-image: url("https://t3.ftcdn.net/jpg/00/82/86/02/360_F_82860209_TpGcCQYDMAiGEJ56UWz0qvKgHszWNtJg.jpg");
}
img{
    height: 4em;
}
button{ height: 5em;
    width: 12em;
    background-color: black;
    color: yellow;
    border-radius: 10em;
  
}
h1{
    text-align: center;
    color:yellowgreen;
}
p{ 
   font-size: larger;
    text-align: center;
}
